body{
    background: #f5f5f5; /* Light shade of white background color */
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background: linear-gradient(0deg, rgba(80, 200, 120, 1) 0%, rgba(34, 193, 195, 1) 100%); /* Light gradient green background */
    border-radius: 5px;
    padding: 30px;
}

h1{
    text-align: center;
    color: #ffffff; /* White text color */
    font-weight: bold; /* Bold font */
}

#form button{
    background-color: #792099;
    color: white;
    border: 1px solid #792099;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    font-weight: bold; /* Bold font */
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ffffff; /* White border color */
    color: #ffffff; /* White text color */
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white background */
}

.input-group input:focus{
    outline: 0;
}

.input-group .error{
    color: #ff3333; /* Red text color */
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold; /* Bold font */
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color: #ff3333; /* Red border color */
}
